.adding-reception {

  &__form {
    display: flex;
    margin-top: 6px;
    padding: 10px 20px 40px 20px;
    justify-content: space-between;
    align-items: flex-end;
    box-shadow: 0 4px 4px 2px rgba(0, 0, 0, 0.25);
  }

  &__form-block {
    position: relative;
    display: flex;
    width: 20%;
    margin-left: 5px;
    flex-direction: column;
  }

  @media (max-width: 1000px) {
    &__form {
      padding: 20px 10px 10px 10px;
      justify-content: space-around;
      flex-wrap: wrap;
    }
  }

  @media (max-width: 650px) {
    &__form {
      padding: 20px 10px 10px 10px;
      flex-direction: column;
    }

    &__form-block {
      width: 70%;
    }

    &__button {
      margin-top: 20px;
    }
  }
}